BASE_CONFIG_FILENAME=default.conf
KANNEL_DIR=/etc/kannel
KANNEL_BEARERBOX_HOST=bearerbox
# The usb modem sim card number
KANNEL_MSISDN=
# The Mobile Network Operator sms center
KANNEL_SMSC=
KANNEL_LOG_LEVEL=DEBUG

KANNEL_DLR_STORAGE_TYPE=redis
KANNEL_DLR_STORAGE_HOST=redis
KANNEL_DLR_STORAGE_PORT=
KANNEL_DLR_STORAGE_DBNAME=
KANNEL_DLR_STORAGE_USERNAME=
KANNEL_DLR_STORAGE_PASSWORD=

KANNEL_DEVICE_PUTTY=/dev/ttyUSB0
KANNEL_DEVICE_HOST=localhost
KANNEL_DEVICE_TYPE="modem"
KANNEL_DEVICE_MANUFACTURER=Huawei
KANNEL_DEVICE_SMSCID=Huawei
KANNEL_DEVICE_MODEM_NAME=huawei
KANNEL_DEVICE_MODEM_DETECT_STRING="huawei"
KANNEL_DEVICE_MODEM_INIT_STRING="AT+CNMI=3,1,0,1"
