BASE_CONFIG_FILENAME=default.conf
KANNEL_DIR=/etc/kannel
KANNEL_BEARERBOX_HOST=bearerbox
KANNEL_MSISDN=
KANNEL_SMSC=

KANNEL_DLR_STORAGE_TYPE=internal
KANNEL_DLR_STORAGE_HOST=
KANNEL_DLR_STORAGE_PORT=
KANNEL_DLR_STORAGE_DBNAME=
KANNEL_DLR_STORAGE_USERNAME=
KANNEL_DLR_STORAGE_PASSWORD=

KANNEL_DEVICE_PUTTY=/dev/ttyUSB0
KANNEL_DEVICE_HOST=localhost
