group = smsc
smsc = at
port = 13013

# leave this field blank (empty space)
host =

smsc-id = usb-modem
modemtype =

# leave this field blank
device =

speed = 19200

# leave this field blank
my-number =

sim-buffering = true
validityperiod = 167
log-level = 0

group = modems
id =
name =
detect-string = "MODEM"
enable-mms = true

# if you have the modem init-string uncomment this next line and update it
# init-string = "AT+CNMI=3,1,0,1"